    <article class="span10">
        <h3>Обо мне:</h3>
        <div class="story">
        <p>Орлова Анна, 1993 г.р., закончила МГУТУ им К.Г Разумовского по специальности "Графический дизайн" в 2014г.</p>
        <p>Специализация: Иллюстрации, дизайн. Фриланс.</p>
        <p>Для связи со мной воспользуйтесь формой ниже:</p>
        </div>
        
        <div class="inner-1">
            <form id="contact-form" name="form1" novalidate>
                  <div class="success"> Ваше сообщение успешно отправлено!<strong> Я скоро свяжусь с Вами.</strong> </div>
                  <fieldset>
                <div>
                    <label class="name">
                    <input type="text" name="naame" ng-model="contact.name" placeholder="Ваше имя:" required>
                  <br>
                    <span class="empty" ng-show="form1.naame.$error.required">*Поле обязательно для заполнения.</span></label>
                    </div>
                  <div>
                    <label class="phone">
                    <input type="tel" name="tel" ng-model="contact.tel" placeholder="Телефон:" required>
                    <br>
                    <span class="empty" ng-show="form1.tel.$error.required">*Поле обязательно для заполнения.</span> </label>
                    </div>
                <div>
                    <label class="email">
                    <input type="email" name="emaail" ng-model="contact.email" placeholder="Email:" required>
                    <br>
                    <span class="error" ng-show="form1.emaail.$error.email">Этот адрес электронной почты недействителен.</span> 
                    <span class="empty" ng-show="form1.emaail.$error.required">*Поле обязательно для заполнения.</span> </label>
                    </div>
                <div>
                    <label class="message">
                    <textarea required ng-model="contact.msg" name="msg" placeholder="Ваше сообщение:">Message</textarea>
                    <br>
                    <span class="empty" ng-show="form1.msg.$error.required">*Поле обязательно для заполнения.</span> </label>
                    </div>
                <div class="buttons-wrapper">
                    <a class="btn btn-1" data-type="reset">Очистить</a> <a class="btn btn-1" data-type="submit" ng-click="sendMessage()">Отправить</a>
                    <span ng-show="messageSent">Your message has been sent. We'll read it eventually.</span>
                    </div>
              </fieldset>
            </form>
        </div>
    </article>

